.Form{
    width:450px;
    box-shadow: 2px 4px 4px #03234A;
    margin-left:100px
}

.wrapper{
    display: flex;
    align-items: center;
}

.Gender{
  width:25px
}

.AddExec{
    margin-top: 100px;
    margin-left: 150px;
}